/* VARIABLES */
:root {
  --font-size: 16px;
  --font-family: Arial, sans-serif;
  --gap: 20px;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-size: var(--font-size);
  font-family: var(--font-family);
  padding: var(--gap);
  min-height: 100vh;
}

#app {
  width: min-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

/* STYLES */
.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card.selected {
  border-color: blue;
}

.user-detail {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.user-detail > p {
  padding: 10px 10px 0 10px;
}
